$color1: #4CA866;
$color2: #FFF;
$color3: #FA824C;
$color4: #E4572E;
$color5: #3C91E6;
$color6: #000;
$color7: #EEEDED;
$color8: #989797;
$font-family: 'Roboto', sans-serif;
$font-size-xxxlarge: 70px;
$font-size-xxlarge: 40px;
$font-size-xlarge: 30px;
$font-size-large: 18px;
$font-size-mediun: 16px;
